<div class="container mt-2 mb-2">
    <table  class="table table-striped table-bordered">

            <thead>
                <tr>
                    <th data-field="first_name" data-sortable="true">First name</th>
                    <th data-field="last_name" data-sortable="true">Last name</th>
                    <th data-field="dob" data-sortable="true">DOB</th>
                    <th data-field="ssn" data-sortable="true">SSN</th>
                </tr>
            </thead>
            <tbody>
                {% for person in persons %}
                    <tr>
                        <td>{{ person.first_name }}</td>
                        <td>{{ person.last_name }}</td>
                        <td>{{ person.dob }}</td>
                        <td>{{ person.ssn }}</td>
                    </tr>
                {% endfor %}
            </tbody>
     </table>
</div>


