    <table class="tbl-people">
            <thead>
                <tr>
                    <th>name</th>
                    <th>dob</th>
                    <th>cdl#</th>
                    <th>ssn</th>
                </tr>
            </thead>
            <tbody>
                {% for person in persons %}
                    <tr>
                        <td><a href="{% url 'dq:person-detail' person.id %}">{{ person.first_name }} {{ person.last_name }}</a></td>
                        <td>{{ person.dob }}</td>
                        <td>V123-4569-8796</td>
                        <td>active</td>
                    </tr>
                {% endfor %}
            </tbody>
     </table>
