{% extends 'dq/base.html' %}
{% load static %}

{% block content %}
    <!-- Navigation start -->
    <nav class="main-nav">
        <ul>
            <li id="logo"><a href="{% url 'home' %}">G2</a></li>
            <li id="people"><a href="{% url 'dq:person-list' %}">people</a></li>
            <li id="add-person"><a href="{% url 'dq:person-create' %}">add person</a></li>
        </ul>
    </nav><!-- navigation end -->
    
     <!-- Driver detail start -->
    <section class="driver-detail">
        {% if active_cdl.img %}
            <img class="cdl-slika" src="{% static 'dq/images/cdl.jpeg' %}" alt="">
        {% else %}
            <p>no image</p>
        {% endif %}
        <div class="driver-detail-text">
            <h3>{{ person.first_name}} {{person.last_name }}</h3>
            <h3>CDL: {{active_cdl.cdl_num}} {{active_cdl.cdl_state}}</h3>
            <h3>SSN: {{ person.ssn }}</h3>
            <div class="btn-edit">
               <a href="{% url 'dq:person-update' person.id  %}">Edit {{ person.first_name}} {{person.last_name }}</a>
            </div>
        </div>


        <div class="warnings">
            <h3>WARNINGS</h3>
            <ul>
                <li>cdl expire in 30 days</li>
                <li>medical expires 03-28-2020</li>
                <li>turn in paperwork</li>
                <li>cdl expire in 30 days</li>
                <li>medical expires 03-28-2020</li>
                <li>turn in paperwork</li>
                <li>cdl expire in 30 days</li>
                <li>medical expires 03-28-2020</li>
                <li>turn in paperwork</li>
            </ul>
        </div>
    </section><!-- Driver detail end -->

    <!-- CDL medical drug test mvr dot reports psp application start -->
    <section class="dq">
        <ul class="tabs">
            <li data-tab-target="#cdls" class="tab active">CDLs</li>
            <li data-tab-target="#medicals" class="tab">medicals</li>
            <li data-tab-target="#drug-tests" class="tab">drug tests</li>
            <li data-tab-target="#mvrs" class="tab">mvrs</li>
            <li data-tab-target="#dot-reports" class="tab">dot reports</li>
            <li data-tab-target="#psps" class="tab">psps</li>
            <li data-tab-target="#applications" class="tab">applications</li>
        </ul>
        <div class="tab-content">
            <!-- CDLS tab start -->
            <div id="cdls" data-tab-content class="active">
                <div class="active-item">
                    <div class="active-item-pic">
                        <img src="{% static 'dq/images/cat-700x400.jpg' %}" alt="">
                    </div>
                    <div class="active-item-text">
                        <p>CDL# V456-6532-9857 IL</p>
                        <p>Class: A</p>
                        <p>date issued: 02-28-2018</p>
                        <p>date expire: 02-28-2023</p>
                    </div>
                </div>
                <h1>CDLs</h1>
                <table class="items-table">
                    <thead>
                        <tr>
                            <th>CDL number</th>
                            <th>State</th>
                            <th>Class</th>
                            <th>Issued</th>
                            <th>Expire</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>V123-4567-8912</td>
                            <td>IL</td>
                            <td>A</td>
                            <td>02-08-2008</td>
                            <td>02-08-2018</td>
                        </tr>
                        <tr>
                            <td>V123-4567-8912</td>
                            <td>IL</td>
                            <td>A</td>
                            <td>02-08-2008</td>
                            <td>02-08-2018</td>
                        </tr>
                        <tr>
                            <td>V123-4567-8912</td>
                            <td>IL</td>
                            <td>A</td>
                            <td>02-08-2008</td>
                            <td>02-08-2018</td>
                        </tr>
                        <tr>
                            <td>V123-4567-8912</td>
                            <td>IL</td>
                            <td>A</td>
                            <td>02-08-2008</td>
                            <td>02-08-2018</td>
                        </tr>
                    </tbody>
                </table><!-- cdls-table end -->
            </div><!-- CDLS tab end -->
            <!-- MEDICAL tab start -->
            <div id="medicals" data-tab-content>
                <div class="active-item">
                    <div class="active-item-pic">
                        <img src="{% static 'dq/images/dog.jpg' %}" alt="">
                    </div>
                    <div class="active-item-text">
                        <p>CDL# V456-6532-9857 IL</p>
                        <p>Class: A</p>
                        <p>date issued: 02-28-2018</p>
                        <p>date expire: 02-28-2023</p>
                    </div>
                </div>
                <h1>CDLs</h1>
                <table class="items-table">
                    <thead>
                        <tr>
                            <th>CDL number</th>
                            <th>State</th>
                            <th>Class</th>
                            <th>Issued</th>
                            <th>Expire</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>V123-4567-8912</td>
                            <td>IL</td>
                            <td>A</td>
                            <td>02-08-2008</td>
                            <td>02-08-2018</td>
                        </tr>
                        <tr>
                            <td>V123-4567-8912</td>
                            <td>IL</td>
                            <td>A</td>
                            <td>02-08-2008</td>
                            <td>02-08-2018</td>
                        </tr>
                        <tr>
                            <td>V123-4567-8912</td>
                            <td>IL</td>
                            <td>A</td>
                            <td>02-08-2008</td>
                            <td>02-08-2018</td>
                        </tr>
                        <tr>
                            <td>V123-4567-8912</td>
                            <td>IL</td>
                            <td>A</td>
                            <td>02-08-2008</td>
                            <td>02-08-2018</td>
                        </tr>
                    </tbody>
                </table><!-- cdls-table end -->
            </div><!-- MEDICAL tab end -->
        </div>
    </section><!-- CDL medical drug test mvr dot reports psp application end -->
{% endblock %}