{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="cards">
            <a href="{% url 'dq:person-list' %}">
                <div class="card">
                    <img src="{% static 'images/people400x400.jpg' %}" alt="people">
                    <h1>people</h1>
                </div>
            </a>
            <a href="#">
                <div class="card">
                    <img src="{% static 'images/truck400x400.jpg' %}" alt="truck">
                    <h1>trucks</h1>
                </div>
            </a>
            <a href="#">
                <div class="card">
                    <img src="{% static 'images/trailer400x400.jpg' %}" alt="trailer">
                    <h1>trailers</h1>
                </div>
            </a>
     </div>


{% endblock %}



